<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security 
       http://www.springframework.org/schema/security/spring-security.xsd">
       
       <!-- New Spring Security implementation -->
       
       <security:http auto-config="true">
<security:csrf disabled="true"/>
<!-- /admin/getproductform, /admin/saveproduct -->

<security:intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"/>
<security:intercept-url pattern="/user/**" access="hasRole('ROLE_USER')"/>
<!-- home, all/getproducts  -->
<security:intercept-url pattern="/**" access="permitAll"/>

	
 <security:form-login 
      login-page="/login" 
      
      username-parameter="name" password-parameter="password"
      login-processing-url="/j_spring_security_check"
      default-target-url="/home"
      authentication-failure-url="/loginerror"
      />
      <!-- invalid username/password , redirected to the url /login?error -->
      <security:logout logout-success-url="/logout"
      logout-url="/j_spring_security_logout"
      />
      
</security:http>




 <security:authentication-manager>
 <security:authentication-provider>
 <security:user-service>
   			<security:user name="admin" password="admin" authorities="ROLE_ADMIN" />
   			<security:user name="sait" password="sait" authorities="ROLE_ADMIN" />
   			<security:user name="niit" password="niit" authorities="ROLE_ADMIN" />
   			<security:user name="sanju" password="sanju" authorities="ROLE_USER" /> 
   			<security:user name="disha" password="disha" authorities="ROLE_USER" /> 
   			</security:user-service>
   			 
<!--  <security:jdbc-user-service data-source-ref="dataSource"
  authorities-by-username-query="select email,password,enabled from User where email=?"
 users-by-username-query="select email,role,enabled from User where email=?"
  /> -->
 </security:authentication-provider>
 
 
 </security:authentication-manager>
 </beans>